canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 15px solid orange;
    background-color: black;
}
footer{
    display: block;
    margin-left: auto;
    margin-right: auto;
}